<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}"></title>

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

</head>

<body>

<header th:insert="~{/layouts/header-admin :: header}"></header>

<!-- Container -->
<div class="container">

    <div class="d-flex justify-content-between align-items-center m-1">
        <h1 class="mt-4 mb-3" th:text="${titleLibros}"></h1>
        <a class="btn btn-primary" th:href="@{/libros/new}">Nuevo Libro</a>
    </div>

    <nav aria-label="breadcrumb" class="bg-light p-2 rounded">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/libros}" th:text="${titleLibros}"></a></li>
        </ol>
    </nav>

    <div class="table-responsive">
        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">N° Pag.</th>
                <th scope="col">Cant.</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="libro : ${libros}">
                <td th:text="${libro.isbn}"></td>
                <td th:text="${libro.titulo}"></td>
                <td th:text="${libro.autor}"></td>
                <td th:text="${libro.paginas}"></td>
                <td th:text="${libro.cantidad}"></td>
                <td th:text="${libro.categoria.categoria}"></td>
                <td>
                    <div class="d-flex">
                        <a class="btn btn-warning btn-sm" th:href="@{'libros/edit/' + ${libro.idLibro}}">Editar</a> |
                        <a class="btn btn-danger btn-sm" th:href="@{/libros/delete/{id}(id=${libro.idLibro})}"
                           onclick="deleteConfirm(event)">Eliminar</a>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Footer -->
<footer th:insert="~{/layouts/footer :: footer}"></footer>

<!-- Scripts -->
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>